In [1]:
########################################################
#
# analyze 443,296 guides from the cancer census list
#
# Sunday Novermber 26th, 2017
#
########################################################

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("census_exons.fasta.scores_simple",sep="\t")

df.head()

,contig,start,stop,target,context,overflow,orientation,dangerous_GC,dangerous_polyT,dangerous_in_genome,Hsu2013,Moreno-Mateos2015OnTarget,AggregateRankedScore_medianRank,AggregateRankedScore_tranche,AggregateRankedScore_topX,otCount
0,ATP2B3__exon__21__2952__X__152845425,0,23,TCACCACCCGGATCTGGAGTGGG,ACGCTTTCACCACCCGGATCTGGAGTGGG,OK,RVS,NONE,NONE,IN_GENOME=1,81.498087,NaN,298563,3,NaN,110
1,AKT2__exon__7__66__19__40745941,0,23,GGCAACTCACAGTGAGGAACGGG,GGCAACTCACAGTGAGGAACGGGTGCCTG,OK,FWD,NONE,NONE,IN_GENOME=1,70.902241,NaN,369177,4,NaN,187
2,AKT2__exon__4__112__19__40761054,0,23,CTCCAGACGAGAGGTCAGTCTGG,TGGATTCTCCAGACGAGAGGTCAGTCTGG,OK,RVS,NONE,NONE,IN_GENOME=1,53.417397,NaN,415640,4,NaN,116
3,KMT2D__exon__49__137__12__49418582,0,23,CATAGCTGAATCAGTAAGGAAGG,GCTTCGCATAGCTGAATCAGTAAGGAAGG,OK,RVS,NONE,NONE,IN_GENOME=1,75.626711,NaN,340930,4,NaN,136
4,KMT2D__exon__47__128__12__49421575,0,23,CCAGACCTACCTGTTTCAGGAGG,CCAGACCTACCTGTTTCAGGAGGCTCAAG,OK,FWD,NONE,NONE,IN_GENOME=1,82.756571,NaN,289243,3,NaN,133

In [4]:
exon_numbers = [int(x.split("__")[2]) if ("|" not in x) else int(x.split("|")[0].split("__")[2]) for x in df['contig']]
df['exon'] = pd.Series(exon_numbers, index=df.index)

genes_numbers = [x.split("__")[0] if ("|" not in x) else x.split("|")[0].split("__")[0] for x in df['contig']]
df['gene'] = pd.Series(genes_numbers, index=df.index)

exon_genes = []
for exon,gene in zip(exon_numbers,genes_numbers):
    exon_genes.append(gene + "_" + str(exon))
    
df['gene_exon'] = pd.Series(exon_genes, index=df.index)

exon_length = [x.split("__")[3] if ("|" not in x) else x.split("|")[0].split("__")[3] for x in df['contig']]
df['exon_length'] = pd.Series(exon_length, index=df.index)

In [5]:
df['dangerous_polyT'].describe()

count     426560
unique         2
top         NONE
freq      399074
Name: dangerous_polyT, dtype: object

In [6]:
df.to_csv("data_with_exons.txt",sep="\t")